<% layout('layouts/main') -%>

<div class="container">
    <h1><%= title %></h1>
    <form data-id="<%= content._id %>" id="form" action="/user/<%= content._id %>" method="post" autocomplete="off">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label">First name</label>
                    <input name="firstName" required type="text" class="form-control" value="<%= content.firstName %>">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label">Last name</label>
                    <input name="lastName" required type="text" class="form-control" value="<%= content.lastName %>">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label">Email address</label>
                    <input name="email" required type="email" class="form-control" value="<%= content.email %>">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label">Phone</label>
                    <input name="phone" required type="text" class="form-control"  value="<%= content.phone %>">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>